@use 'card'
//valores específicos para encaixarem no meu telefone, ainda estou organizando a ideia
*
    margin: 0
    padding: 0
    box-sizing: border-box
.viewer
    display: flex
    justify-content: center
    align-items: center
    min-height: card.$viewer_min_height
    min-width: card.$viewer_min_width
    background: card.$viewr_background
.content
    width: card.$content_width
    height: card.$content_height
.music_content
    width: 100%
    height: 47%
    background-image: card.$music_content-autumn
    background-size: 100% 100%    
    display: grid
    grid-template-columns: 60%
    grid-template-rows: 65% 10%
    justify-content: center
    align-items: center
    text-align: center
    .music_display
        margin-top: 30%
        height: 100%
        background-image: url(./img/shibuya_covet.jpg)
        background-size: 100% 100%
        border-radius: 50%
        box-shadow: 0 0 80px 5px card.$music_dysplay_box_shadow-autumn
    .music_name
        margin-top: 40%
        font-family: 'Jacques Francois'
        font-style: normal
        font-weight: 400
        font-size: auto
        line-height: 0.1em
        text-align: center
        color: #A79696
        text-shadow: 0 0 0.3em card.$music_dysplay_box_shadow-autumn

.layout_content
    width: 100%
    height: 54%
    background-image: card.$layout_content-autumn
    background-size: 100% 100%
